main {
    font-family: 'Calibri', sans-serif;
}

main ul {
    list-style: none;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    width: 1500px;
}

main ul span {
    box-sizing: border-box;
    flex-grow: 1;
}

main ul input{
    margin: 10px;
    height: 30px;
    width: 150px;
}

main li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

}

main li:nth-child(odd){
    background-color: #EEEEEE;
}

main li:nth-child(even){
    background-color: #DDDDDD;
}

main button.add {
    border: none;
    background: none;
    width: 200px;
    font-size: 15px;
    color: dodgerblue;
}


main button.add:hover {
    background: none;
    color:darkblue;
}


main button.calculate{
    margin: 50px;
    width: 120px;
    height: 50px;
    font-size: 20px;
    background: #DDDDDD;
    border-color: #EEEEEE;
}

main button:hover {
    background: #EEEEEE;
}

ul.answer li{
    background: none;
    font-size: 35px;
}

ul.sickness-reason li{
    background: none;
    height: 40px;
    right: 0;
}


