body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 200px auto 100px;
    grid-template-areas:
            "header"
            "main"
            "footer";
    justify-items: stretch;
    align-content: stretch;
    background-color: black;
    margin:0;
    height: 100vh;
    width: 100vw;
}

header {
    grid-area: header;
    background: linear-gradient(to bottom, darkgrey 0%, white 100%)
}

main {
    grid-area: main;
    background: white;
}

footer {
    grid-area: footer;
    background: linear-gradient(to top, darkgrey 0%, white 100%)
}
