body {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 150px auto 60px;
    grid-template-areas:
            "header header"
            "sidebar main"
            "footer footer";
    justify-items: stretch;
    align-content: stretch;
    background-color: white;
    margin:0;
}

header {
    grid-area: header;
    background: white;
}

aside {
    grid-area: sidebar;
    background: white;
}

main {
    grid-area: main;
    background: white;
}

footer {
    grid-area: footer;
    background: linear-gradient(to top, darkgrey 0%, white 100%)
}

